In [4]:
import os, glob

In [5]:
a = 'to_erase_2000.{}'.format('*')

In [6]:
for file in glob.glob(a):
    print(file)
    try:
        os.remove(file)
    except OSError as e:
        # If it fails, inform the user.
        print("Error: %s - %s." % (e.filename, e.strerror))

to_erase_2000.csv
to_erase_2000.py
to_erase_2000.txt

In [1]:
a = [1,1,3,3,3,6,6,6,2,2,2,2,2,2,10,11,15,12]

In [2]:
a.unique()

AttributeError: 'list' object has no attribute 'unique'

In [1]:
import pandas as pd
import geopandas as gpd
from pytictoc import TicToc
t = TicToc()

In [4]:
a = pd.Series(a)

In [5]:
a.unique()

array([ 1,  3,  6,  2, 10, 11, 15, 12], dtype=int64)

In [2]:
t.tic()
data = pd.read_csv('../../data/processed/MBfogo_c10_cerrado_polygons/MBfogo_c10_cerrado_polygons_1985.csv')
t.toc()

Elapsed time is 1.375772 seconds.

In [3]:
data['month'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [13]:
t.tic()
data_ = gpd.read_file('../../data/processed/MBfogo_c10_cerrado_polygons/MBfogo_c10_cerrado_polygons_1985.shp')
t.toc()

Elapsed time is 168.855246 seconds.

In [14]:
data[data['month'] == 9]

,ID,year,month,geometry
0,198509_1267317,1985,9,"POLYGON ((-43.98125 -16.53268, -43.97990 -16.5..."
1,198509_1267318,1985,9,"POLYGON ((-44.07207 -16.54912, -44.07180 -16.5..."
2,198509_1267319,1985,9,"POLYGON ((-44.05994 -16.56637, -44.05967 -16.5..."
3,198509_1267320,1985,9,"POLYGON ((-44.05913 -16.56637, -44.05859 -16.5..."
4,198509_1267321,1985,9,"POLYGON ((-44.05805 -16.56691, -44.05778 -16.5..."
...,...,...,...,...
610510,198509_1877827,1985,9,"MULTIPOLYGON (((-47.63182 -15.13185, -47.63182..."
610511,198509_1877828,1985,9,"POLYGON ((-47.55663 -15.13158, -47.55636 -15.1..."
610512,198509_1877829,1985,9,"POLYGON ((-45.32602 -15.13077, -45.32495 -15.1..."
610513,198509_1877830,1985,9,"POLYGON ((-50.87303 -19.89463, -50.87276 -19.8..."
610514,198509_1877831,1985,9,"POLYGON ((-56.27667 -15.13266, -56.27802 -15.1..."

In [8]:
list_index = data[data['month'] == 9].index
list_index

Int64Index([1267317, 1267318, 1267319, 1267320, 1267321, 1267322, 1267323,
            1267324, 1267325, 1267326,
            ...
            1877823, 1877824, 1877825, 1877826, 1877827, 1877828, 1877829,
            1877830, 1877831, 1877832],
           dtype='int64', length=610516)

In [10]:
print(list_index[0])
print(list_index[-1])

1267317
1877832

In [11]:
t.tic()
data = gpd.read_file('../../data/processed/MBfogo_c10_cerrado_polygons/MBfogo_c10_cerrado_polygons_1985.shp', rows = slice(list_index[0], list_index[-1]))
t.toc()

Elapsed time is 51.180325 seconds.

In [12]:
data.head()

,ID,year,month,geometry
0,198509_1267317,1985,9,"POLYGON ((-43.98125 -16.53268, -43.97990 -16.5..."
1,198509_1267318,1985,9,"POLYGON ((-44.07207 -16.54912, -44.07180 -16.5..."
2,198509_1267319,1985,9,"POLYGON ((-44.05994 -16.56637, -44.05967 -16.5..."
3,198509_1267320,1985,9,"POLYGON ((-44.05913 -16.56637, -44.05859 -16.5..."
4,198509_1267321,1985,9,"POLYGON ((-44.05805 -16.56691, -44.05778 -16.5..."

In [15]:
data.tail()

,ID,year,month,geometry
610510,198509_1877827,1985,9,"MULTIPOLYGON (((-47.63182 -15.13185, -47.63182..."
610511,198509_1877828,1985,9,"POLYGON ((-47.55663 -15.13158, -47.55636 -15.1..."
610512,198509_1877829,1985,9,"POLYGON ((-45.32602 -15.13077, -45.32495 -15.1..."
610513,198509_1877830,1985,9,"POLYGON ((-50.87303 -19.89463, -50.87276 -19.8..."
610514,198509_1877831,1985,9,"POLYGON ((-56.27667 -15.13266, -56.27802 -15.1..."

In [14]:
import os
import csv
def readListFiles_fromCSV(csv_fp):
    
    #fileList_csv = './server_orders/MBfogo_coordinates_node9.csv'
    with open(csv_fp, newline='') as f:
        reader = csv.reader(f)
        
        # Counting number of columns
        ncol = len(next(reader))
        f.seek(0)
        
        # If reader only has one column, return a list
        if ncol == 1:
            list_fp = [element[0] for element in reader]
        if ncol == 2:
            list_fp = [(element[0], element[1]) for element in reader]
        # print([element[1] for element in reader])
        
    return list_fp

In [16]:
csv_fp = '../server_orders/MBfogo_fix_geometries.csv'

In [17]:
readListFiles_fromCSV(csv_fp)

['../../data/temp/2000_CM']